## Github
/.github

## Gradle
/.gradle
/build
!/gradle/scripts
/gradle/wrapper
/gradlew
/gradlew.bat

## ForgeGradle
/run

## Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## IntelliJ
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
